@mixin colors {
  @each $color in $colors2 {
    li:nth-child(#{index($colors2, $color)}) {
      background-color: $color;
    }
  }
}

@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
}

@mixin height-zero {
  height: 0;
  line-height: 0;
  font-size: 0;
}
