$blue: #004a6b;
$purple: #0a0068;
$pink: #650068;
$red: #680014;
$orange: #684800;
$green-yellow: #316800;
$green: #006828;

$colors: $pink $red $orange $green-yellow $green $blue $purple;

$blue2: #ccf3ff;
$purple2: #ceccff;
$pink2: #fcccff;
$red2: #ffccd8;
$orange2: #ffeecc;
$green-yellow2: #e6ffcc;
$green2: #ccffde;

$colors2: $pink2 $red2 $orange2 $green-yellow2 $green2 $blue2 $purple2;

$pink3: #ffd9cf;

$text-on-dark: #ffffff;
$text-on-light: #909090;


$maring-section: 100px;
$margin-element: 50px;
$len10: 10px;
$len20: 20px;
$len30: 30px;
